<h1>Demo#index</h1>
<p>Hello from Index</p>

<%= link_to "Hello Page 2", {action:'hello'}  %>

<% name = "Daniel" %>

<%= link_to('Roar', '#', onclick: "jRoar('#{j(name)}'); return true;")  %>

<%= javascript_tag("jRoar('#{j(name)}');") %>